<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remember password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/security.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/"><img src="/img/logoNC.png"></a>
            Internetowe Centrum Abonenta
        </div>
    </div>
</nav>

<div class="bg-pic container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <form th:action="@{/security/remember}" method="post" th:object="${forgetPassword}">
                <div class="panel-heading text-center">
                    <h4>NIE PAMIĘTAM HASŁA</h4>
                </div>
                <div class="panel-body">

                    wpisz swój adres e-mail, którym logujesz się do serwisu, otrzymasz na niego wiadomość z linkiem do ustawienia nowego hasła. Postępuj z instrukcjami tam zawartymi.

                    <div class="form-group">
                        <label for="email">adres e-mail</label>
                        <input id="email" type="text" class="form-control" placeholder="wpisz swój adres e-mail"
                               th:field="*{email}" name="email"/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel-footer text-left">
                            <a class="btn btn-lg" href="/security/login">WRÓĆ</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel-footer text-right">
                            <button class="btn btn-lg" type="submit">RESETUJ</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>KORZYŚCI Z NC+</h4>
                </div>
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-time"></span></br>
                            <span class="txt">OSZCZĘDŹ</span></br>
                            CZAS</div>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-usd"></span></br>
                            <span class="txt">SPRAWDŹ</span></br>
                            PŁATNOŚCI</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-download-alt"></span></br>
                            <span class="txt">POBIERZ</span></br>
                            OFERTĘ</div>
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-film"></span></br>
                            <span class="txt">ZAMÓW</span></br>
                            FILMY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">Copyright © 2019 ITI Neovision</div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-earphone"></span> +48 111 555 999 | 4444 333 777 *
            </br>* opłata wg stawek operatora
        </div>
    </div>
</footer>

</body>
</html>