<hr>
<h1 class="text-center">Oferty</h1>
<hr>

<br>

<button type="button" class="btn btn-warning btn-lg"><a href="/settings/offersFilms">Filmy</a></button>
<button type="button" class="btn btn-warning btn-lg"><a href="/settings/offersChannels">Kanały</a></button>
<button type="button" class="btn btn-warning btn-lg"><a href="/settings/offersTvs">Telewizja</a></button>
<button type="button" class="btn btn-warning btn-lg"><a href="/settings/offersInternets">Internet</a></button>
<button type="button" class="btn btn-warning btn-lg"><a href="/settings/offersPhones">Telefon</a></button>
<button type="button" class="btn btn-warning btn-lg"><a href="/settings/offers">Oferty</a></button>