<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings Offers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/searchTable.js"></script>
</head>
<body th:if="${userRole == 'ROLE_ADMIN'}">

<div th:include="admin/templates/navigation"></div>

<div class="container">
    <div th:include="admin/templates/navigationOffert"></div>
    <hr>
    <h3 class="text-center">KANAŁY</h3>
    <hr>
    <br>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#id1">Dodaj nowy kanał</button>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#id2">Tabela kanałów</button>

    <div id="id1" class="collapse">

        <br>
        <hr>
        <h3 class="text-center">Dodaj nowy kanał</h3>
        <hr>

        <form th:action="@{/settings/offersChannels}" method="post" th:object="${addChannel}">

            <div class="row">

                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="title">Tytuł</label>
                        <input id="title" type="text" class="form-control" placeholder="podaj tytuł"
                               th:field="*{name}" required="required"/>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <label>Kategoria</label>
                        <select th:field="*{categoryId}" class="form-control">
                            <option
                                    th:each="e : ${categorys}"
                                    th:value="${e.id}"
                                    th:text="${e.name}"
                            ></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="text-right">
                        <br>
                        <a type="button" class="btn btn-info" href="/settings/category">Dodaj kategorie</a>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label for="description">Opis</label>
                <textarea rows="3" id="description" type="text" class="form-control" placeholder="podaj opis"
                          th:field="*{description}" required="required"></textarea>
            </div>
            <button class="btn btn-success btn-block" type="submit">Dodaj</button>
        </form>

    </div>

    <div id="id2" class="collapse">

        <br>
        <hr>
        <h3 class="text-center">Tabela kanałów</h3>
        <hr>

        <input class="form-control" id="myInput" type="text" placeholder="Wyszukiwarka">
        <br>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Opcje</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="q : ${allChannels}">
                <td th:text="${q.name}"></td>
                <td style="width: 50%;" th:text="${q.description}"></td>
                <td th:text="${q.category.name}"></td>
                <td>
                    <button type="button" class="btn btn-warning">Modyfikuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            </tbody>
        </table>

        <!--        <table class="table">-->
        <!--            <thead>-->
        <!--            <tr>-->
        <!--                <th scope="col">Nazwa</th>-->
        <!--                <th scope="col">Opis</th>-->
        <!--                <th scope="col">Kategoria</th>-->
        <!--                <th scope="col">Opcje</th>-->
        <!--            </tr>-->
        <!--            </thead>-->
        <!--            <tbody id="myTable">-->
        <!--            <tr>-->
        <!--                <td>TVP 1</td>-->
        <!--                <td>Same nudne filmy</td>-->
        <!--                <td>Akcja</td>-->
        <!--                <td><button type="button" class="btn btn-warning">Modyfikuj</button> <button type="button" class="btn btn-danger">Usuń</button></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <td>TVP 2</td>-->
        <!--                <td>Dwa razy wiecej nudnych filmow</td>-->
        <!--                <td>Akcja</td>-->
        <!--                <td><button type="button" class="btn btn-warning">Modyfikuj</button> <button type="button" class="btn btn-danger">Usuń</button></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <td>Polsat</td>-->
        <!--                <td>Mamy najwiecej reklam od reszty</td>-->
        <!--                <td>Horror</td>-->
        <!--                <td><button type="button" class="btn btn-warning">Modyfikuj</button> <button type="button" class="btn btn-danger">Usuń</button></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <td>4FunTV</td>-->
        <!--                <td>Joł, mamy mnóstwo muzyczków ziom</td>-->
        <!--                <td>Muzyczny</td>-->
        <!--                <td><button type="button" class="btn btn-warning">Modyfikuj</button> <button type="button" class="btn btn-danger">Usuń</button></td>-->
        <!--            </tr>-->
        <!--            </tbody>-->
        <!--        </table>-->

    </div>

    <br>
    <br>
    <br>

</div>

</body>
</html>