<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Settings Offers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/searchTable.js"></script>
</head>
<body th:if="${userRole == 'ROLE_ADMIN'}">

<div th:include="admin/templates/navigation"></div>

<div class="container">
    <div th:include="admin/templates/navigationOffert"></div>
    <hr>
    <h3 class="text-center">FILMY</h3>
    <hr>
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#id1">Dodaj nowy film</button>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#id2">Tabela filmów</button>

    <div id="id1" class="collapse">

        <br>
        <hr>
        <h3 class="text-center">Dodaj nowy film</h3>
        <hr>

        <form th:action="@{/settings/offersfilms}" method="post" th:object="${addFilm}">
            <div class="row">

                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="title">Tytuł</label>
                        <input id="title" type="text" class="form-control" placeholder="podaj tytuł"
                               th:field="*{title}" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="description">Opis</label>
                        <textarea rows="7" id="description" type="text" class="form-control" placeholder="podaj opis"
                                  th:field="*{description}" required="required"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="yearProduction">Rok produkcji</label>
                        <input id="yearProduction" type="number" class="form-control" placeholder="podaj rok prpdukcji"
                               th:field="*{yearProduction}" required="required"/>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="price">Cena</label>
                        <input id="price" type="number" class="form-control" placeholder="podaj cene"
                               th:field="*{price}" required="required"/>
                    </div>

                    <div class="form-group">
                        <label>Jakość</label>
                        <select th:field="*{quality}" class="form-control">
                            <option
                                    th:each="e : ${qualitys}"
                                    th:value="${e}"
                                    th:text="${e.fullName}"
                            ></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Kategoria</label>
                        <select th:field="*{categoryId}" class="form-control">
                            <option
                                    th:each="e : ${categorys}"
                                    th:value="${e.id}"
                                    th:text="${e.name}"
                            ></option>
                        </select>
                    </div>

                    <div class="text-right">
                        <br>
                        <a type="button" class="btn btn-info" href="/settings/category">Dodaj kategorie</a>
                    </div>

                </div>

            </div>
            <br>
            <button class="btn btn-success btn-block" type="submit">Dodaj</button>
        </form>
    </div>

    <div id="id2" class="collapse">

        <br>
        <hr>
        <h3 class="text-center">Tabela filmów</h3>
        <hr>

        <input class="form-control" id="myInput" type="text" placeholder="Wyszukiwarka">
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Cena</th>
                <th scope="col">Jakość</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Wypożyczony</th>
                <th scope="col">Opcje</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="q : ${allFilms}">
                <td th:text="${q.title}"></td>
                <td style="width: 30%;" th:text="${q.description}"></td>
                <td th:text="${q.price}"></td>
                <td th:text="${q.quality}"></td>
                <!--<td th:text="${q.quality.fullName}"></td>-->
                <td th:text="${q.category.name}"></td>
                <td>NIEZROBIONE</td>
                <td>
                    <button type="button" class="btn btn-warning">Modyfikuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <br>
    <br>
    <br>

</div>

</body>
</html>